In [71]:
import pandas as pd

Dataset: https://www.kaggle.com/datasets/madhurpant/top-650-fifa-22-players-simplified

In [72]:
df = pd.read_csv('FIFA_players.csv')

In [90]:
df

,Unnamed: 0,short_name,long_name,overall,age,dob,height_cm,weight_kg,club_position,Position,...,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
0,0,L. Messi,Lionel Andrés Messi Cuccittini,93,34,1987-06-24,170,72,RW,Forward,...,92.0,91.0,95.0,34.0,65.0,85.8,94.0,90.2,77.8,73.833333
1,1,R. Lewandowski,Robert Lewandowski,92,32,1988-08-21,185,81,ST,Forward,...,92.0,79.0,86.0,44.0,82.0,86.0,81.4,81.6,84.8,80.666667
2,2,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,91,36,1985-02-05,187,83,ST,Forward,...,94.0,80.0,88.0,34.0,75.0,87.6,83.6,85.4,87.2,74.333333
3,3,Neymar Jr,Neymar da Silva Santos Júnior,91,29,1992-02-05,175,68,LW,Forward,...,83.0,86.0,94.0,37.0,63.0,80.6,89.2,90.2,71.8,77.000000
4,4,K. De Bruyne,Kevin De Bruyne,91,30,1991-06-28,181,70,RCM,Midfield,...,86.0,93.0,88.0,64.0,78.0,81.4,88.0,80.0,81.6,82.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,647,T. Malacia,Tyrell Malacia,77,21,1999-08-17,169,67,LB,Defender,...,56.0,64.0,75.0,72.0,73.0,63.4,55.2,81.0,71.8,61.833333
648,648,Wilson Manafá,Wilson Miguéis Manafá Jancó,77,26,1994-07-23,177,69,LB,Defender,...,60.0,67.0,76.0,70.0,69.0,65.0,64.2,83.2,65.0,67.333333
649,649,J. Clauss,Jonathan Clauss,77,28,1992-09-25,178,67,RWB,Defender,...,66.0,70.0,76.0,67.0,71.0,66.0,67.0,80.0,71.4,64.166667
650,650,Galeno,Wenderson Rodrigues do Nascimento Galeno,77,23,1997-10-22,179,62,LM,Midfield,...,70.0,66.0,82.0,32.0,66.0,60.4,72.2,83.4,71.6,63.666667
651,651,J. Lascelles,Jamaal Lascelles,77,27,1993-11-11,188,83,CB,Defender,...,35.0,51.0,56.0,77.0,79.0,51.0,44.6,60.2,62.6,52.166667

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          652 non-null    int64
 1   short_name          652 non-null    object
 2   long_name           652 non-null    object
 3   overall             652 non-null    int64
 4   age                 652 non-null    int64
 5   dob                 652 non-null    object
 6   height_cm           652 non-null    int64
 7   weight_kg           652 non-null    int64
 8   club_position       652 non-null    object
 9   Position            652 non-null    object
 10  club_name           652 non-null    object
 11  league_name         652 non-null    object
 12  nationality_name    652 non-null    object
 13  club_jersey_number  652 non-null    int64
 14  preferred_foot      652 non-null    object
 15  weak_foot           652 non-null    int64
 16  skill_moves         652 non-null    int64
 17  player_traits       652 non-null    object
 18  pace                652 non-null    float64
 19  shooting            652 non-null    float64
 20  passing             652 non-null    float64
 21  dribbling           652 non-null    float64
 22  defending           652 non-null    float64
 23  physic              652 non-null    float64
 24  attacking           652 non-null    float64
 25  skill               652 non-null    float64
 26  movement            652 non-null    float64
 27  power               652 non-null    float64
 28  mentality           652 non-null    float64
dtypes: float64(11), int64(8), object(10)
memory usage: 147.8+ KB

# Select columns

In [74]:
# Use .columns to get list of columns

df.columns

Index(['Unnamed: 0', 'short_name', 'long_name', 'overall', 'age', 'dob',
       'height_cm', 'weight_kg', 'club_position', 'Position', 'club_name',
       'league_name', 'nationality_name', 'club_jersey_number',
       'preferred_foot', 'weak_foot', 'skill_moves', 'player_traits', 'pace',
       'shooting', 'passing', 'dribbling', 'defending', 'physic', 'attacking',
       'skill', 'movement', 'power', 'mentality'],
      dtype='object')

In [75]:
# Using .column_name as an attribute to get series

df.long_name

0                Lionel Andrés Messi Cuccittini
1                            Robert Lewandowski
2           Cristiano Ronaldo dos Santos Aveiro
3                 Neymar da Silva Santos Júnior
4                               Kevin De Bruyne
                         ...
647                              Tyrell Malacia
648                 Wilson Miguéis Manafá Jancó
649                             Jonathan Clauss
650    Wenderson Rodrigues do Nascimento Galeno
651                            Jamaal Lascelles
Name: long_name, Length: 652, dtype: object

In [76]:
df.power.mean() # Can do calculations on series

69.6515337423313

In [77]:
# Or use dictionary to get series

df['long_name']

0                Lionel Andrés Messi Cuccittini
1                            Robert Lewandowski
2           Cristiano Ronaldo dos Santos Aveiro
3                 Neymar da Silva Santos Júnior
4                               Kevin De Bruyne
                         ...
647                              Tyrell Malacia
648                 Wilson Miguéis Manafá Jancó
649                             Jonathan Clauss
650    Wenderson Rodrigues do Nascimento Galeno
651                            Jamaal Lascelles
Name: long_name, Length: 652, dtype: object

In [78]:
df['power'].mean()

69.6515337423313

In [79]:
#Pass list to select multiple columns

df[['long_name', 'short_name', 'power']]

                                    long_name         short_name  power
0              Lionel Andrés Messi Cuccittini           L. Messi   77.8
1                          Robert Lewandowski     R. Lewandowski   84.8
2         Cristiano Ronaldo dos Santos Aveiro  Cristiano Ronaldo   87.2
3               Neymar da Silva Santos Júnior          Neymar Jr   71.8
4                             Kevin De Bruyne       K. De Bruyne   81.6
..                                        ...                ...    ...
647                            Tyrell Malacia         T. Malacia   71.8
648               Wilson Miguéis Manafá Jancó      Wilson Manafá   65.0
649                           Jonathan Clauss          J. Clauss   71.4
650  Wenderson Rodrigues do Nascimento Galeno             Galeno   71.6
651                          Jamaal Lascelles       J. Lascelles   62.6

[652 rows x 3 columns]

In [80]:
# Use the .get method to 

df.get('power', False)

0      77.8
1      84.8
2      87.2
3      71.8
4      81.6
       ...
647    71.8
648    65.0
649    71.4
650    71.6
651    62.6
Name: power, Length: 652, dtype: float64

In [81]:
df.get('power', False).mean()

69.6515337423313

In [82]:
df.get('asd', "No such column")

'No such column'

In [83]:
#use string methods

df[[col for col in df.columns if col.endswith('foot')]] #select all columns that ends with foot

    preferred_foot  weak_foot
0             Left          4
1            Right          4
2            Right          4
3            Right          5
4            Right          5
..             ...        ...
647           Left          3
648          Right          4
649          Right          3
650          Right          3
651          Right          3

[652 rows x 2 columns]

In [84]:
#use string methods

df[['short_name'] + [col for col in df.columns if col.endswith('foot')]] #Select name + all columns that ends with foot

            short_name preferred_foot  weak_foot
0             L. Messi           Left          4
1       R. Lewandowski          Right          4
2    Cristiano Ronaldo          Right          4
3            Neymar Jr          Right          5
4         K. De Bruyne          Right          5
..                 ...            ...        ...
647         T. Malacia           Left          3
648      Wilson Manafá          Right          4
649          J. Clauss          Right          3
650             Galeno          Right          3
651       J. Lascelles          Right          3

[652 rows x 3 columns]

In [85]:
df[
    ['short_name'] +                                         #Select name
   [col for col in df.columns if col.endswith('foot')] +    #Select all columns that ends with foot
   [col for col in df.columns if col.endswith('ing')]       #Select all columns that ends with ing
   ]

,short_name,preferred_foot,weak_foot,shooting,passing,dribbling,defending,attacking
0,L. Messi,Left,4,92.0,91.0,95.0,34.0,85.8
1,R. Lewandowski,Right,4,92.0,79.0,86.0,44.0,86.0
2,Cristiano Ronaldo,Right,4,94.0,80.0,88.0,34.0,87.6
3,Neymar Jr,Right,5,83.0,86.0,94.0,37.0,80.6
4,K. De Bruyne,Right,5,86.0,93.0,88.0,64.0,81.4
...,...,...,...,...,...,...,...,...
647,T. Malacia,Left,3,56.0,64.0,75.0,72.0,63.4
648,Wilson Manafá,Right,4,60.0,67.0,76.0,70.0,65.0
649,J. Clauss,Right,3,66.0,70.0,76.0,67.0,66.0
650,Galeno,Right,3,70.0,66.0,82.0,32.0,60.4
651,J. Lascelles,Right,3,35.0,51.0,56.0,77.0,51.0

In [86]:
# Get every column wth the exception of short name and long name

df[
    df.columns.difference(['short_name', 'long_name'])
]

,Position,Unnamed: 0,age,attacking,club_jersey_number,club_name,club_position,defending,dob,dribbling,...,passing,physic,player_traits,power,preferred_foot,shooting,skill,skill_moves,weak_foot,weight_kg
0,Forward,0,34,85.8,30,Paris Saint-Germain,RW,34.0,1987-06-24,95.0,...,91.0,65.0,"Finesse Shot, Long Shot Taker (AI), Playmaker ...",77.8,Left,92.0,94.0,4,4,72
1,Forward,1,32,86.0,9,FC Bayern München,ST,44.0,1988-08-21,86.0,...,79.0,82.0,"Solid Player, Finesse Shot, Outside Foot Shot,...",84.8,Right,92.0,81.4,4,4,81
2,Forward,2,36,87.6,7,Manchester United,ST,34.0,1985-02-05,88.0,...,80.0,75.0,"Power Free-Kick, Flair, Long Shot Taker (AI), ...",87.2,Right,94.0,83.6,5,4,83
3,Forward,3,29,80.6,10,Paris Saint-Germain,LW,37.0,1992-02-05,94.0,...,86.0,63.0,"Injury Prone, Flair, Speed Dribbler (AI), Play...",71.8,Right,83.0,89.2,5,5,68
4,Midfield,4,30,81.4,17,Manchester City,RCM,64.0,1991-06-28,88.0,...,93.0,78.0,"Injury Prone, Leadership, Early Crosser, Long ...",81.6,Right,86.0,88.0,4,5,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,Defender,647,21,63.4,15,Feyenoord,LB,72.0,1999-08-17,75.0,...,64.0,73.0,"Long Throw-in, Dives Into Tackles (AI), Early ...",71.8,Left,56.0,55.2,3,3,67
648,Defender,648,26,65.0,18,FC Porto,LB,70.0,1994-07-23,76.0,...,67.0,69.0,"Speed Dribbler (AI), Giant Throw-in, Outside F...",65.0,Right,60.0,64.2,3,4,69
649,Defender,649,28,66.0,11,Racing Club de Lens,RWB,67.0,1992-09-25,76.0,...,70.0,71.0,Early Crosser,71.4,Right,66.0,67.0,3,3,67
650,Midfield,650,23,60.4,90,SC Braga,LM,32.0,1997-10-22,82.0,...,66.0,66.0,"Flair, Long Shot Taker (AI), Speed Dribbler (AI)",71.6,Right,70.0,72.2,4,3,62
651,Defender,651,27,51.0,6,Newcastle United,CB,77.0,1993-11-11,56.0,...,51.0,79.0,"Leadership, Power Header",62.6,Right,35.0,44.6,2,3,83

In [87]:
# Use .isin to subset columns based on list

df.columns.isin(['power', 'skill'])

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
        True, False])

In [88]:
df[df.columns[df.columns.isin(['power', 'skill'])]]

     skill  power
0     94.0   77.8
1     81.4   84.8
2     83.6   87.2
3     89.2   71.8
4     88.0   81.6
..     ...    ...
647   55.2   71.8
648   64.2   65.0
649   67.0   71.4
650   72.2   71.6
651   44.6   62.6

[652 rows x 2 columns]

In [89]:
df[df.columns[~df.columns.isin(['nationality_name', 'club_jersey_number',
       'preferred_foot', 'weak_foot', 'skill_moves', 'player_traits', 'pace',
       'shooting', 'passing', 'dribbling', 'defending', 'physic', 'attacking',
       'skill', 'movement', 'power', 'mentality'])]]

# Use the tilde as a negation operator to reverse the selection. It inverses True to False and False to True

,Unnamed: 0,short_name,long_name,overall,age,dob,height_cm,weight_kg,club_position,Position,club_name,league_name
0,0,L. Messi,Lionel Andrés Messi Cuccittini,93,34,1987-06-24,170,72,RW,Forward,Paris Saint-Germain,French Ligue 1
1,1,R. Lewandowski,Robert Lewandowski,92,32,1988-08-21,185,81,ST,Forward,FC Bayern München,German 1. Bundesliga
2,2,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,91,36,1985-02-05,187,83,ST,Forward,Manchester United,English Premier League
3,3,Neymar Jr,Neymar da Silva Santos Júnior,91,29,1992-02-05,175,68,LW,Forward,Paris Saint-Germain,French Ligue 1
4,4,K. De Bruyne,Kevin De Bruyne,91,30,1991-06-28,181,70,RCM,Midfield,Manchester City,English Premier League
...,...,...,...,...,...,...,...,...,...,...,...,...
647,647,T. Malacia,Tyrell Malacia,77,21,1999-08-17,169,67,LB,Defender,Feyenoord,Holland Eredivisie
648,648,Wilson Manafá,Wilson Miguéis Manafá Jancó,77,26,1994-07-23,177,69,LB,Defender,FC Porto,Portuguese Liga ZON SAGRES
649,649,J. Clauss,Jonathan Clauss,77,28,1992-09-25,178,67,RWB,Defender,Racing Club de Lens,French Ligue 1
650,650,Galeno,Wenderson Rodrigues do Nascimento Galeno,77,23,1997-10-22,179,62,LM,Midfield,SC Braga,Portuguese Liga ZON SAGRES
651,651,J. Lascelles,Jamaal Lascelles,77,27,1993-11-11,188,83,CB,Defender,Newcastle United,English Premier League

In [91]:
df[df.columns[df.dtypes != 'object']] # Select columns based on dtypes that are not objects

,Unnamed: 0,overall,age,height_cm,weight_kg,club_jersey_number,weak_foot,skill_moves,pace,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
0,0,93,34,170,72,30,4,4,85.0,92.0,91.0,95.0,34.0,65.0,85.8,94.0,90.2,77.8,73.833333
1,1,92,32,185,81,9,4,4,78.0,92.0,79.0,86.0,44.0,82.0,86.0,81.4,81.6,84.8,80.666667
2,2,91,36,187,83,7,4,5,87.0,94.0,80.0,88.0,34.0,75.0,87.6,83.6,85.4,87.2,74.333333
3,3,91,29,175,68,10,5,5,91.0,83.0,86.0,94.0,37.0,63.0,80.6,89.2,90.2,71.8,77.000000
4,4,91,30,181,70,17,5,4,76.0,86.0,93.0,88.0,64.0,78.0,81.4,88.0,80.0,81.6,82.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,647,77,21,169,67,15,3,3,81.0,56.0,64.0,75.0,72.0,73.0,63.4,55.2,81.0,71.8,61.833333
648,648,77,26,177,69,18,4,3,87.0,60.0,67.0,76.0,70.0,69.0,65.0,64.2,83.2,65.0,67.333333
649,649,77,28,178,67,11,3,3,85.0,66.0,70.0,76.0,67.0,71.0,66.0,67.0,80.0,71.4,64.166667
650,650,77,23,179,62,90,3,4,91.0,70.0,66.0,82.0,32.0,66.0,60.4,72.2,83.4,71.6,63.666667
651,651,77,27,188,83,6,3,2,58.0,35.0,51.0,56.0,77.0,79.0,51.0,44.6,60.2,62.6,52.166667

In [92]:
df[df.columns[df.dtypes == 'int64']] # Select columns based on dtypes that are integers

,Unnamed: 0,overall,age,height_cm,weight_kg,club_jersey_number,weak_foot,skill_moves
0,0,93,34,170,72,30,4,4
1,1,92,32,185,81,9,4,4
2,2,91,36,187,83,7,4,5
3,3,91,29,175,68,10,5,5
4,4,91,30,181,70,17,5,4
...,...,...,...,...,...,...,...,...
647,647,77,21,169,67,15,3,3
648,648,77,26,177,69,18,4,3
649,649,77,28,178,67,11,3,3
650,650,77,23,179,62,90,3,4
651,651,77,27,188,83,6,3,2